body{
	margin: 0;
	padding: 0;
}
.main-con{
	width: 650px;
	height: 1354px;
	margin: 0 auto;
	border: 5px solid #ececec;
	
}
.container{
	width: 604Px;
	margin: 0 auto;
}
.header-top{
	width: 100%;
	float: left;
	margin: 25px 0 25px 0px;
}
.logo{
	width: 50%;
	float: left;
}
.add{
	font-family: arial;
	font-size: 13px;
	width: 50%;
	text-align: right;
	float: left;
	margin: 0px;
}
.add span{
	font-weight: bold;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.add a{
	color: #65ac00;
	text-decoration: none;
}
.header-bottom{
	width: 100%;
	float: left;
	position: relative;
    top: -50px;
}
.banner p{
	text-align: center;
    position: relative;
    top: 85px;
    left: 170px;
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
}
.banner span{
	width: 100%;
    float: left;
    text-align: right;
    position: relative;
    top: -62px;
    right: 10px;
}
.banner span a{
	margin-left: 3px;
}
.content{
	float: left;
    position: relative;
    top: -85px;
}
.left{
	width: 370px;
	float: left;
	margin-right: 15px;
}
.left h2{
	 font-family: Georgia;
	 font-size: 25px;
	 color: #65ac00;
	 font-weight: normal;
	 margin: 0px;
}
.left p{
	line-height: 15px;
	margin-bottom: 30px;
}
.left a{
	color: #0099cc;
	text-decoration: none;
	float: left;
	text-align: right;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 20px;
	margin-bottom: 20px;

}
.left img{
	margin: 20px 0;
}
.bor{
	border-bottom: 2px solid #e2e2e2;
	padding-bottom: 20px;
}
.nostyle{
	border: none !important;
}
.right{
	width: 204px;
	float: right;
	margin-left: 0px;
	border-left: 1px solid #e2e2e2;
	padding: 0px 0px 0px 10px;

}
.right h2{
	background-color: #8cc140;
	color: #fff;
	font-family: Georgia;
	font-size: 23px;
	margin: 0px;
	padding-left: 5px;
}
.right p{
	font-size: 13px;
	font-family: arial;
	text-align: justify;
}
.right .r-2{
	margin: 0px 0px 0px 0px;
}
.right a{
	color: #8cc140;
	text-decoration: none;
}
.right img{
	margin: 10px 0px;
}
.footer{
	text-align: center;
	position: relative;
	right: 37%;
	font-family: arial;
	font-size: 13px;
	line-height: 20px;
}